@import './common/mixin.scss';
#in-head {
    background-color: #FFFFFF;
    position: relative;
    .website-top {
        position: relative;
        border-bottom: solid 1px #d9d9d9;
        box-sizing: border-box;
        .top-content {
            position: relative;
            @include width_auto_center;
            height: 35px;
            line-height: 35px;
            .reg-login {
                position: absolute;
                right: 0;
                span {
                    cursor: pointer;
                }
                span:nth-child(1) {
                    position: relative;
                    margin-right: 10px;
                    &:after {
                        content: " ";
                        height: 10px;
                        width: 1px;
                        position: absolute;
                        top: 3px;
                        right: -8px;
                        background-color: #818181;
                    }
                }
            }
        }
    }
    .website-info {
        @include width_auto_center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        .website-name {
            width: auto;
            font-weight: 900px;
            font-size: 38px;
            font-family: glu;
        }
        .book-search {
            position: relative;
            input {
                height: 35px;
                width: 600px;
                padding: 0 5px;
                box-sizing: border-box;
                border: solid 1px rgba(111, 77, 93, .5);
            }
            span {
                justify-content: center;
                align-items: center;
                display: inline-flex;
                width: 50px;
                height: 35px;
                background-color: #bd3961;
                position: absolute;
                right: 0;
                top: 0;
                border-bottom: 0;
                cursor: pointer;
                &:hover {
                    background-color: rgba(189, 57, 97, 0.8);
                }
                .icon-search {
                    color: #fff;
                    font-size: 18px;
                }
            }
        }
        .bookself {
            position: relative;
            padding: 5px;
            padding-left: 20px;
            cursor: pointer;
            &:hover {
                background: #684c5d;
                color: #fff;
            }
            .icon-columns {
                position: absolute;
                top: 6px;
                left: 0;
            }
        }
    }
    .website-nva {
        background-color: $title_bg-color;
        .in-nva {
            height: 45px;
            @include width_auto_center;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: #ffffff;
            font-size: 16px;
            li {
                cursor: pointer;
                padding: 0 40px;
                height: 100%;
                line-height: 45px;
                &:hover {
                    background-color: #41344b;
                }
                a {
                    color: #ffffff;
                }
            }
            li:nth-child(1) {
                position: relative;
                .nvaicon {
                    position: absolute;
                    top: 15px;
                    left: 22px;
                }
            }
        }
    }
}